<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We Deliver</h2><br><br><br>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>In-depth Analysis of Research</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Qualitative & quantitative market research<br>Market sizing<br>Customer insights<br>Customer challenge identification<br>Technology assessment<br>Competitive analysis<br>Product teardowns<br>Cost reduction</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Product Strategy and Planning</h4>
                                    <!-- <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Product roadmap<br>Business plan<br>Product concept<br>Market requirements (MRD)<br>Product definition (PRD)<br>Pricing strategy<br>Win / loss analysis<br>Financial forecasting</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>User Experience/User Interface Design</h4>
                                    <!-- <h4 class="subheading">Transition to Full Service</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Layout conceptualization<br>GUI wireframing and design<br>Navigation<br>Workflows<br>Storyboarding<br>Rapid prototyping & mockups<br>UX testing</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Product Launch and Sales Readiness</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Go-to-market plans<br>Alpha / beta customer launch<br>Buyer & user personas<br>Web content<br>Storyboarding<br>Case studies & white papers<br>User manuals & data sheets<br>Sales facing content<br>Customer facing presentations<br>Product and training collateral<br>Content marketing</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mobile Applications</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Conceptualize <br>Build requirements<br>Design <br>Development<br>Sales enablement apps</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/6.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Software Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Low Level: ARM assembly, x86 assembly, C, C++ <br>Runtime: C#, Java<br>Scripting: JavaScript and mobile (iPhone and Android) language support</p>
                                </div>
                            </div>
                        </li>						
                    </ul>
                </div>
            </div>
        </div>
    </section>
