  <footer class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2019</span>
                </div>
                <!--<div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>-->
                <div class="col-md-6">
                    <ul class="list-inline quicklinks">
						<span class="copyright">All rights reserved.</span>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
