<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
				<div class="row-same-height">
					<div class="col-sm-6 form-group">
						<img class="img-responsive" src="img/Inteleaf Tree Logo with Tag.png" alt="">
					</div>
					<div class="col-sm-6 form-group">
						<br>
						<h2 class="section-heading">We help you</h2>
						<br><br>
						<p><span class="text-secondary">DEFINE: </span><span class="text-muted-large">Channel in-depth research and analysis into new product planning</span></p>
						<br>
						<p><span class="text-secondary">DESIGN: </span><span class="text-muted-large">Cultivate the optimal user experience through testing and innovation</span></p>
						<br>
						<p><span class="text-secondary">LAUNCH: </span><span class="text-muted-large">Create impactful and sticky content that engages customers and sales teams</span></p>
					</div>
					<!-- <div class="col-lg-12 text-center">
						<h2 class="section-heading">Services</h2>
						<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
					</div> -->
				</div>
            </div>
        </div>
    </section>
    <section id="services2" class="bg-light-gray">
        <div class="container">
        	<h2 class="section-heading text-center">How we engage</h2>
						<br><br>
            <div class="row">
                <div class="col-md-4">
					<img class="img-responsive" src="img/Product 240x240.png" alt="">
                    <h4 class="service-heading">Product Conceptualization</h4>
                    <p class="text-muted">Through in-depth customer research, design ideation and competitive analysis we optimize features and streamline benefits to your customer's needs. We help you nurture your products to be instrumental in your customer's success.</p>
                </div>
                <div class="col-md-4">
					<img class="img-responsive" src="img/Marketing 240x240.png" alt="">
                    <h4 class="service-heading">Targeted Marketing</h4>
                    <p class="text-muted">We transform your content so that it builds confidence with your sales and field technical teams, resonates with your customers and stands apart from your competitors. You'll close design-wins and accounts faster, gain market share and grow revenue.</p>
                </div>
                <div class="col-md-4">
					<img class="img-responsive" src="img/Software 240x240.png" alt="">
                    <h4 class="service-heading">Scalable Software</h4>
                    <p class="text-muted">We develop scalable software solutions for content management, system logistics, and data analytics. Whether designing a solution from the ground up, or improving the performance of an existing system, we help you get your products to market faster.</p>
                </div>
            </div>
        </div>
    </section>
